
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f0f2f5;
    color: #2d3436;
    line-height: 1.6;
}


header {
    background-color: #6c9a8b;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 1rem;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav ul li a:hover, .active {
    background-color: #557d70;
}

/* Contenido Principal */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    color: #6c9a8b;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
}


.btn {
    display: inline-block;
    background-color: #6c9a8b;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.btn:hover {
    background-color: #557d70;
}

.objetivos ul {
    text-align: left;
    display: inline-block;
    margin-top: 1rem;
}


footer {
    background-color: #dfe6e9;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    width: 100%;
}
